body {
  padding: 0;
  margin: 0; }

.content {
  margin-left: 1em;
  margin-top: 1em; }
  .content a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  .content li {
    list-style-type: none;
    padding: 1rem;
    border: 2px solid #2e2e2e;
    background: lightYellow; }
  .content .more {
    font-weight: bold;
    background: lightgrey;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 19px; }
  .content .selected {
    background: #ffffad; }
  .content .selectedMore {
    background: #b9b9b9; }
