$lightYellow: #fafad2;
$moreColor: lightgray;
$defaultSize: 14px;

body {
  padding: 0;
  margin: 0;

}

.content {
  margin-left: 1em;
  margin-top: 1em;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  li {
    list-style-type: none;
    padding: 1rem;
    border: 2px solid #2e2e2e;
    background: lightYellow;
  }

  .more {
    font-weight: bold;
    background: $moreColor;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: $defaultSize + 5px;

  }


  .selected {
    background: darken(lightYellow,10%);
  }

  .selectedMore {
    background: darken($moreColor,10%) ;
  }


}




