$lightYellow: #fafad2;

body {
  padding: 0;
  margin: 0;

}

.content {
  margin-left: 1em;
  margin-top: 1em;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  li {
    list-style-type: none;
    padding: 1rem;
    border: 2px solid #2e2e2e;
    background: lightYellow;

  }

  .selected {
    background: darken(lightYellow,10%);
  }


}




